/* HomePage.module.css */
.homePage {
    background: linear-gradient(68.6deg, rgb(252, 165, 241) 1.8%, rgb(181, 255, 255) 100.5%);
  }
  
  .container-fluid-custom {
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  